.hero-container {
  display: flex;
  align-items: center;
  position: relative;
}

.hero-container {
  display: flex;
  align-items: center;
  position: relative;
}
.hero-container::after,
.hero-container::before {
  content: "";
  width: 28.125rem;
  height: 28.125rem;
  border-radius: 28.125rem;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter: blur(140px);
}

.hero-container::after {
  top: 5rem;
  right: -4rem;
}
.hero-container::before {
  top: -5rem;
  left: -5rem;
}

.hero-content {
  flex: 1;
}
.hero-content h2 {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 5rem;
  margin-bottom: 1rem;
}
.hero-content p {
  width: 80%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}
.hero-icons {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}
.hero-icons > div {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
.hero-icons > div > img {
  width: 25rem;
  transition: all 0.3s ease;
}
.tech-icon {
  width: 4rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.65rem;
  border: 1.5px solid â˜ #6852ba;
}
.tech-icon img {
  width: 4rem;
  height: 5rem;
  transition: all 0.3s ease;
}
.hero-icons > div > img:hover,
.tech-icon img:hover {
  transform: translateY(-0.5rem);
}

.hero-right-content {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-right-content > img {
  border-radius: 40px;
  transition: all 0.3s ease;
}
.hero-right-content img:hover {
  transform: translateY(-0.5rem);
}

@media (max-width: 1025px) {
    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
    }

    .hero-content {
        text-align: center;
        align-items: center;
    }
    .hero-content p{
        width: 100%;
    }
  .hero-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }
  .hero-icons > div > img {
    width: 20rem;
  }
  .tech-icon {
    width: 4rem;
    height: 4rem;
  }
  .hero-right-content > img {
    width: 20rem;
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
    .hero-icons > div > img {
        width: 15rem;
    }
    .hero-right-content > img {
        width: 15rem;
    }

    .hero-content h2 {
      font-size: 3rem;
      font-weight: 600;
      line-height: 5rem;
      margin-bottom: 1rem;
      padding: 1rem;
    }
    .hero-content p {
      width: 80%;
      font-size: 1rem;
      font-weight: 400;
      line-height: 2rem;
      padding: 1rem;
    }
    .hero-content {
      flex: 1;
    }
}