.skills-info-card {
    width: 50%;
    min-height: 23rem;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b8;
    background: rgba(21, 18, 46, 0.398);
    backdrop-filter: blur(1rem);
}

.skills-info-card h6 {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.8rem 2rem;
    background: linear-gradient(180deg, #ac95ff 0%, #7c5fe5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1.5px solid #6751b8;
}

.skills-info-content {
    padding: 2rem;
}

.skills-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills-info p {
    font-size: 1rem;
    font-weight: 500;
}

.skills-info .percentage {
    color: #dd7cfb;
}

.skill-progress-bg {
    height: 0.5rem;
    width: 100%;
    background: #381e67;
    border-radius: 0.5rem;
    margin: 1rem 0;
    overflow: hidden;
}

.skill-progress {
    width: 0%;
    height: 0.5rem;
    background: linear-gradient(180deg, #aa92ff 0%, #7d62e4 100%);
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}

